<% include ../partials/header %>
<p>
	<h4>Post: "Show" Page</h4>
</p>

<div>
    <h5>Post Title: <%= post.title %> </h5>
    	<ul>
    	  <li>created on: <%= post.date %></li>
    	</ul>
</div>

<div>
	<p> 
    Content: <%= post.content %> 
  </p>
</div>

<div> 
  <p>
  	<a href="/posts/<%= post._id %>/edit" class="btn btn-info">Edit</a> 
  </p>
</div>

<div> 
  <p>
    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete" class ="btn btn-warning">
    </form>	
  </p>
</div>

<div>
	<p>
    <a href="/posts" class ="btn btn-default">See All Posts</a>
  </p>
</div>

<div>
	<p>
	  Comments: <%= comments.content %>
	</p>
</div>


<% include ../partials/footer %>