<% include ../partials/header %>
<p>
	<h4>Post: "Show" Page</h4>
</p>

<div>
    <h5>Post Title: <%= post.title %> </h5>
    	<ul>
    	  <li>created on: <%= post.date %></li>
    	</ul>
</div>

<div>
	<p> 
    Content: <%= post.content %> 
  </p>
</div>

<div> <a href="/posts/<%= post._id %>/edit" class="btn btn-info">Edit Post</a> </div>

<div>
	<p>
	  Comments: <%= comments.content %>
	</p>
</div>


<% include ../partials/footer %>